<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--
    <add key="DbProvider" value="System.Data.SqlClient"/>
    <add key="connectString" value="Server=.;Database=CourseManageDB;Uid=sa;Pwd=sa123"/>
    
    <add key="DbProvider" value="System.Data.SQLite"/>
    <add key="connectString" value="Data Source=.\data\CourseManageDB.db"/>
    -->
    <add key="DbProvider" value="Oledb"/>
    <add key="connectString" value="Data Source=.\data\Book.mdb"/>
  </appSettings>
  <connectionStrings>
    <!--
    <add name ="connString" connectionString="Server=.;Database=CourseManageDB;Uid=sa;Pwd=sa123"/>    
    <add name ="connString" connectionString="Data Source=.\data\CourseManageDB.db;"/>
    -->
    <!-- providerName muster be : mssql, sqlite, oracle, access, mysql, odbc-->
    <add name ="connString" connectionString="Data Source=.\data\Book.mdb"/>

    <add name ="connectStringMssql" connectionString="Server=.;Database=BookManage;Uid=sa;Pwd=sa123"/>
    <add name ="connectStringOdbc" connectionString="Server=.;Database=BookManage;Uid=sa;Pwd=sa123"/>
    <add name ="connectStringMysql" connectionString="Server=.;Database=BookManage;Uid=sa;Pwd=sa123"/>
    <add name ="connectStringSqlite" connectionString="Data Source=.\data\CourseManageDB.db;"/>
    <add name ="connectStringOledb" connectionString="Data Source=.\data\Book.mdb"/>
    <add name ="connectStringOracle" connectionString="Server=.;Database=BookManage;Uid=sa;Pwd=sa123"/>
  </connectionStrings>
</configuration>
